<!DOCTYPE html>
<html>
<head>
    <title>FIN</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>¡Ops, ¿Profe me deja pasar? xD!</h1>
     <!-- Botón para regresar a la página de inicio -->
     <div class="button-container">
        <a href="/" class="button">Regresar a Inicio</a>
    </div>
    <br></br>
    <img src="{{ url_for('static', filename='imagen2.jpg') }}" alt="Descripción de la imagen" class="responsive-image">
</body>
</html>
