<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>¡Bienvenido a mi primer Flask!</h1>
    <div class="button-container">
        <a href="/apruebo" class="button">Ir a Apruebo</a>
        <a href="/compruebo" class="button">Ir a Compruebo</a>
    </div>
    <!-- Imagen agregada sin estilo en línea -->
    <br></br>
    <img src="{{ url_for('static', filename='imagen.jpg') }}" alt="Descripción de la imagen" class="responsive-image">
</body>
</html>
